body {
    background-color: #090909;
    color: #e0e1dd ;
    font-family: 'Roboto', sans-serif;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.main {
    background-color: #222222;
    padding: 20px 80px 0px 80px;
    border: solid white 1px;
    border-radius: 10px;
    box-shadow: -8px 8px 5px 0px rgba(0,0,0,0.75);
}
.tasks{
    display: flex;
    align-items: center;
    flex-direction: row;
}
p {
    padding-left: 10px;
}
.input-txt {
    width: 100%;
    padding: 0px;
}
.alert {
    width: 180px;
    background-color: #f44336;
    color: white;
    font-size: 18px;
    position: absolute;
    border-radius: 5px;
    display: none;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
}
