body {
    background-color: #010409;
    color: #E6EDF3 ;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    height: 40px;
    width: 100%;
    border-bottom: solid white 1px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.title {
    margin: 10px;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main {
    background-color: #0D1117;
    padding: 20px 40px 0px 40px;
    border: solid white 1px;
    border-radius: 10px;
    box-shadow: -8px 8px 5px 0px rgba(0,0,0,0.75);
    margin-bottom: 20px;
}
.user {
    margin: 0 50px 0 50px;
}
.tasks{
    display: flex;
    align-items: center;
    flex-direction: row;
}
p {
    padding-left: 10px;
}
.input-txt {
    width: 100%;
    padding: 5px;
    border: solid 1px black;
    border-radius: 25px;
}
.alert {
    width: 180px;
    background-color: #f44336;
    color: white;
    font-size: 18px;
    position: absolute;
    border-radius: 5px;
    display: none;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
}

hr {
    border: solid 1px white;
}

footer {
    background-color: #010409;
    font-size: 10px;
    position: sticky;
    bottom: 0;
    width: 100%;
    text-align: center;
}

@media only screen and (min-height: 800px) {
   footer {
    position: fixed;
    bottom: 0;
   }
}
